* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 24px;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
}

.app {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%;
}

.form-container {
  width: 100%;
}

.form-wrapper {
  list-style-type: none;
  max-width: 600px;
  margin: 0 auto;
}

.form-wrapper li {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.form-wrapper > li > label {
  flex: 1 0 200px;
}

.form-wrapper > li > label + * {
  flex: 1 0 120px;
}

.form-wrapper li input[type="submit"] {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: 0.09em;
  border-radius: 2px;
}

.tickets-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  overflow-x: auto;
}
ul {
  padding: 0;
}

.form-wrapper li input[type="submit"]:hover {
  background: #3aafab;
  cursor: pointer;
}

.form-wrapper > li:not(:last-child) {
  margin-bottom: 20px;
}

button:hover {
  cursor: pointer;
}

button.delete_btn {
  background-color: #f44336;
  border: none;
  padding: 10px;
}

button.delete_btn:hover {
  background-color: #aa1409;
}

input.search_input {
  width: 30%;
  min-width: 200px;
}

@media screen and (max-width: 1100px) {
  .app {
    width: 90%;
  }

  table {
    font-size: 14px;
    overflow-x: auto;
  }

  td {
    padding: 0 10px;
  }
}
